#!/bin/bash

function usage {
  echo "Usage: $0
  -v  Verbose mode
  -h  Display this help
"
  exit 0
}

while getopts "v" opt; do
  case $opt in
    v) echo "DEBUG: Verbose mode"
      DEBUG=true
      CURL_VERBOSE="-v"
      ;;
    h) usage
      ;;
    \?)
      echo "Invalid option: -$OPTARG" >&2
      usage
      ;;
  esac
done

function log {
  if [[ -n ${DEBUG} ]]
  then
    echo $*
    echo $* >> <%= @autoload_logpath %> 2>&1
  else
    echo $* >> <%= @autoload_logpath %> 2>&1
  fi
}

log "----------- Begin: " $(date "+%y%m%d-%H%M%S") " -----------"

if $(ls -A <%= @autoload_path %>/present/* &> /dev/null)
then
  kubectl --kubeconfig=<%= @kubeconfig %> apply -f <%= @autoload_path %>/present >> <%= @autoload_logpath %> 2>&1

  # Diff with previous rolebinding definition to check if cleanup is needed:
  for rolebinding in $(find <%= @autoload_path %>/present -name "rb-*")
  do
    rolebindingshort=$(basename -s .yaml $rolebinding)
    # If there is a previous config:
    if $(ls <%= @autoload_path %>/backup/${rolebindingshort}* &>/dev/null)
      then
        previous_config=$(basename $(find <%= @autoload_path %>/backup/ -name "${rolebindingshort}*" | tail -n 1))
        # If lines have been removed since the backup:
        if $(diff <%= @autoload_path %>/backup/${previous_config} <%= @autoload_path %>/present/${rolebindingshort}.yaml | grep '^<' &>/dev/null)
        then
          # We create a backup
          cp $rolebinding <%= @autoload_path %>/backup/${rolebindingshort}.$(date +%Y%m%d-%H%M%S).yaml
          log "${rolebindingshort}.yaml modified, creating new backup"  
        fi
    # If there is no previous config or backup, we create one:
    else
      log "No backup found, creating one..."
      cp $rolebinding <%= @autoload_path %>/backup/${rolebindingshort}.$(date +%Y%m%d-%H%M%S).yaml
    fi
  done
else
  log "No resources to create"
fi

if $(ls -A <%= @autoload_path %>/absent/* &> /dev/null)
then
  kubectl --kubeconfig=<%= @kubeconfig %> delete -f <%= @autoload_path %>/absent >> <%= @autoload_logpath %> 2>&1
else
  log "No resources to delete"
fi

# Cleanup for non declared resources:
## Get all rolebindings created with puppet in a temporary file:
kubectl --kubeconfig=<%= @kubeconfig %> get rolebindings --all-namespaces --no-headers |awk '{print $2 "-" $1 "|" $1 " " $2}' | grep rb- > /tmp/k8s.rb.temp

## Compare with the resources we actually want
for rb in $(grep -h autoload_ref <%= @autoload_path %>/present/rb-* | awk '{print $2 "-" $3}')
do
  sed -i "/$rb/d" /tmp/k8s.rb.temp
done

## Re-format the lines:
sed -i 's/.*|//' /tmp/k8s.rb.temp

IFS=$'\n'
set -f
for line in $(cat /tmp/k8s.rb.temp)
do
  namespace=$(echo $line |awk '{print $1}')
  role=$(echo $line |awk '{print $2}')
  kubectl --kubeconfig=<%= @kubeconfig %> -n $namespace delete rolebinding $role >> <%= @autoload_logpath %> 2>&1
done

log "----------- End: " $(date "+%y%m%d-%H%M%S") " -----------"
