api:
  advertiseAddress: <%= @api_server_ip %>
  bindPort: <%= @api_port %>
  controlPlaneEndpoint: ""
apiServerCertSANs:
- <%= @api_server %>
<% @api_server_cert_sans.each do |key| -%>
- <%= key %>
<% end -%>
apiServerExtraArgs:
  etcd-cafile: /etc/pki-etcd/certs/ca.pem
  etcd-certfile: /etc/pki-etcd/certs/<%= @fqdn %>.pem
  etcd-keyfile: /etc/pki-etcd/private_keys/<%= @fqdn %>.pem
<% if !@oidc_client_id.nil? and !@oidc_client_id.empty? -%>
  oidc-client-id: <%= @oidc_client_id %>
<% end -%>
<% if !@oidc_issuer_url.nil? and !@oidc_issuer_url.empty? -%>
  oidc-issuer-url: <%= @oidc_issuer_url %>
<% end -%>
<% if !@oidc_username_claim.nil? and !@oidc_username_claim.empty? -%>
  oidc-username-claim: <%= @oidc_username_claim %>
<% end -%>
<% if !@oidc_username_prefix.nil? and !@oidc_username_prefix.empty? -%>
  oidc-username-prefix: <%= @oidc_username_prefix %>
<% end -%>
<% if !@oidc_groups_claim.nil? and !@oidc_groups_claim.empty? -%>
  oidc-groups-claim: <%= @oidc_groups_claim %>
<% end -%>
<% if !@oidc_groups_prefix.nil? and !@oidc_groups_prefix.empty? -%>
  oidc-groups-prefix: <%= @oidc_groups_prefix %>
<% end -%>
  service-cluster-ip-range: <%= @cluster_service_subnet %>
apiServerExtraVolumes:
- hostPath: /etc/puppetlabs/puppet/ssl
  mountPath: /etc/pki-etcd
  name: puppet-ssl
apiVersion: kubeadm.k8s.io/v1alpha2
auditPolicy:
  logDir: /var/log/kubernetes/audit
  logMaxAge: 2
  path: ""
bootstrapTokens:
- groups:
  - system:bootstrappers:kubeadm:default-node-token
  token: vbim1m.0nzjs9ntkodq1et9
  ttl: 24h0m0s
  usages:
  - signing
  - authentication
certificatesDir: /etc/kubernetes/pki
clusterName: kubernetes
etcd:
  external:
    caFile: /etc/puppetlabs/puppet/ssl/certs/ca.pem
    certFile: /etc/puppetlabs/puppet/ssl/certs/<%= @fqdn %>.pem
    keyFile: /etc/puppetlabs/puppet/ssl/private_keys/<%= @fqdn %>.pem
    endpoints:
<% @etcd_endpoints.each do |key| -%>
    - <%= key %>
<% end -%>
imageRepository: k8s.gcr.io
kind: MasterConfiguration
kubeProxy:
  config:
    bindAddress: 0.0.0.0
    clientConnection:
      acceptContentTypes: ""
      burst: 10
      contentType: application/vnd.kubernetes.protobuf
      kubeconfig: /var/lib/kube-proxy/kubeconfig.conf
      qps: 5
<% if !@cluster_service_subnet.nil? and !@cluster_service_subnet.empty? -%>
    clusterCIDR: <%= @cluster_service_subnet %>
<% end -%>
    configSyncPeriod: 15m0s
    conntrack:
      max: null
      maxPerCore: 32768
      min: 131072
      tcpCloseWaitTimeout: 1h0m0s
      tcpEstablishedTimeout: 24h0m0s
    enableProfiling: false
    healthzBindAddress: 0.0.0.0:10256
    hostnameOverride: ""
    iptables:
      masqueradeAll: false
      masqueradeBit: 14
      minSyncPeriod: 0s
      syncPeriod: 30s
    ipvs:
      excludeCIDRs: null
      minSyncPeriod: 0s
      scheduler: ""
      syncPeriod: 30s
    metricsBindAddress: 127.0.0.1:10249
    mode: ""
    nodePortAddresses: null
    oomScoreAdj: -999
    portRange: ""
    resourceContainer: /kube-proxy
    udpIdleTimeout: 250ms
kubeletConfiguration:
  baseConfig:
    address: 0.0.0.0
    authentication:
      anonymous:
        enabled: false
      webhook:
        cacheTTL: 2m0s
        enabled: true
      x509:
        clientCAFile: /etc/kubernetes/pki/ca.crt
    authorization:
      mode: Webhook
      webhook:
        cacheAuthorizedTTL: 5m0s
        cacheUnauthorizedTTL: 30s
    cgroupDriver: cgroupfs
    cgroupsPerQOS: true
    clusterDNS:
    - <%= @cluster_dns %>
    clusterDomain: cluster.local
    containerLogMaxFiles: 5
    containerLogMaxSize: 10Mi
    contentType: application/vnd.kubernetes.protobuf
    cpuCFSQuota: true
    cpuManagerPolicy: none
    cpuManagerReconcilePeriod: 10s
    enableControllerAttachDetach: true
    enableDebuggingHandlers: true
    enforceNodeAllocatable:
    - pods
    eventBurst: 10
    eventRecordQPS: 5
    evictionHard:
      imagefs.available: 15%
      memory.available: 100Mi
      nodefs.available: 10%
      nodefs.inodesFree: 5%
    evictionPressureTransitionPeriod: 5m0s
    failSwapOn: true
    fileCheckFrequency: 20s
    hairpinMode: promiscuous-bridge
    healthzBindAddress: 127.0.0.1
    healthzPort: 10248
    httpCheckFrequency: 20s
    imageGCHighThresholdPercent: 85
    imageGCLowThresholdPercent: 80
    imageMinimumGCAge: 2m0s
    iptablesDropBit: 15
    iptablesMasqueradeBit: 14
    kubeAPIBurst: 10
    kubeAPIQPS: 5
    makeIPTablesUtilChains: true
    maxOpenFiles: 1000000
    maxPods: 110
    nodeStatusUpdateFrequency: 10s
    oomScoreAdj: -999
    podPidsLimit: -1
    port: 10250
    registryBurst: 10
    registryPullQPS: 5
    resolvConf: /etc/resolv.conf
    rotateCertificates: true
    runtimeRequestTimeout: 2m0s
    serializeImagePulls: true
    staticPodPath: /etc/kubernetes/manifests
    streamingConnectionIdleTimeout: 4h0m0s
    syncFrequency: 1m0s
    volumeStatsAggPeriod: 1m0s
kubernetesVersion: v<%= @kubernetes_version %>
networking:
  dnsDomain: cluster.local
<% if !@cluster_pod_subnet.nil? and !@cluster_pod_subnet.empty? -%>
  podSubnet: <%= @cluster_pod_subnet %>
<% end -%>
<% if !@cluster_service_subnet.nil? and !@cluster_service_subnet.empty? -%>
  serviceSubnet: <%= @cluster_service_subnet %>
<% end -%>
nodeRegistration:
  criSocket: /var/run/dockershim.sock
  name: <%= @hostname %>
  taints:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
unifiedControlPlaneImage: ""
