apiVersion: v1
kind: Namespace
metadata:
  name: <%= @name %>
  annotations:
    Created.by.puppet.host: <%= @hostname %>
<%#  TODO: Find the way to not overwrite file for changed timestamp -%>
<%#  Created.by.puppet.time: <%= Time.now.to_s -%>
<% if !@annotations.nil? and !@annotations.empty? -%>
<% @annotations.each do |key,value| -%>
    <%= key %>: <%= value %>
<% end -%>
<% end -%>
<% if !@labels.nil? and !@labels.empty? -%>
  labels:
<% @labels.each do |key,value| -%>
    <%= key %>: <%= value %>
<% end -%>
<% end -%>
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: quota-<%= @name %>
  namespace: <%= @name %>
  annotations:
    Created.by.puppet.host: <%= @hostname %>
spec:
  hard:
    cpu: "<%= @quota_hard_cpu %>"
    limits.cpu: "<%= @quota_hard_limits_cpu %>"
    limits.memory: "<%= @quota_hard_limits_memory %>"
    memory: "<%= @quota_hard_memory %>"
    pods: "<%= @quota_hard_pods %>"
    resourcequotas: "<%= @quota_hard_pods %>"
---
apiVersion: v1
kind: LimitRange
metadata:
  name: limits-<%= @name %>
  namespace: <%= @name %>
spec:
  limits:
  - default:
      cpu: "<%= @limit_container_default_cpu %>"
      memory: "<%= @limit_container_default_memory %>"
    defaultRequest:
      cpu: "<%= @limit_container_default_cpu_req %>"
      memory: "<%= @limit_container_default_memory_req %>"
    type: Container
