<% if !@namespaces.nil? and !@namespaces.empty? -%>
<% @namespaces.each do |namespace,params| -%>
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-<%= @namespace %>-<%= @name %>
  annotations:
    Created.by.puppet.host: <%= @hostname %>
<%#  TODO: Find the way to not overwrite file for changed timestamp -%>
<%#     Created.by.puppet.time: <%= Time.now.to_s -%>
<% if !params["annotations"].nil? and !params["annotations"].empty? -%>
<% params["annotations"].each do |key,value| -%>
    <%= key %>: <%= value %>
<% end -%>
<% end -%>
<% if !params["labels"].nil? and !params["labels"].empty? -%>
  labels:
<% params["labels"].each do |key,value| -%>
    <%= key %>: <%= value %>
<% end -%>
<% end -%>
spec:
  accessModes:
  - <%= @accessModes %>
  capacity:
    storage: <%= @capacity %>  
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: <%= @kind %>
  name: <%= @name %>
---
<% end -%>
<% end -%>


apiVersion: v1
kind: PersistentVolume
metadata:
  creationTimestamp: null
  name: pv-siad-usageropendj-test-01-vol01
  selfLink: /api/v1/persistentvolumes/pv-siad-usageropendj-test-01-vol01
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 10Gi
  claimRef:
    apiVersion: v1
    kind: PersistentVolumeClaim
    name: pvc-siad-usageropendj-test-01-vol01
    namespace: siad-usageropendj-test-01
    resourceVersion: "116399752"
    uid: acbe1b05-68eb-11e8-a670-005056a84bd3
  nfs:
    path: /ifs/SRVData/Docker/volumes/namespaces/siad-usageropendj-test-01/vol01
    server: cirrus.uqam.ca
  persistentVolumeReclaimPolicy: Retain
