<% if !@namespaces.nil? and !@namespaces.empty? -%>
<% @namespaces.each do |namespace,params| -%>
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: rb-<%= @kind.downcase %>-<%= @safename %>-<%= params["role"] %>
  namespace: <%= namespace %>
  annotations:
    Created.by.puppet.host: <%= @hostname %>
    autoload_ref: rb-<%= @kind.downcase %>-<%= @safename %>-<%= params["role"] %> <%= namespace %>
<%#  TODO: Find the way to not overwrite file for changed timestamp -%>
<%#     Created.by.puppet.time: <%= Time.now.to_s -%>
<% if !params["annotations"].nil? and !params["annotations"].empty? -%>
<% params["annotations"].each do |key,value| -%>
    <%= key %>: <%= value %>
<% end -%>
<% end -%>
<% if !params["labels"].nil? and !params["labels"].empty? -%>
  labels:
<% params["labels"].each do |key,value| -%>
    <%= key %>: <%= value %>
<% end -%>
<% end -%>
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: <%= params["role"] %>
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: <%= @kind %>
<% if !@oidc_username_prefix.nil? and !@oidc_username_prefix.empty? and @kind == "User" -%>
  name: <%= @oidc_username_prefix %><%= @name %>
<% elsif !@oidc_groups_prefix.nil? and !@oidc_groups_prefix.empty? and @kind == "Group" -%>
  name: <%= @oidc_groups_prefix %><%= @name %>
<% else -%>
  name: <%= @name %>
<% end -%>
---
<% end -%>
<% end -%>
