apiVersion: v1
kind: PersistentVolume
metadata:
  name: "pv-<%= @name %>"
  annotations:
    Created.by.puppet.host: "<%= @hostname %>"
<%#  TODO: Find the way to not overwrite file for changed timestamp -%>
<%#  Created.by.puppet.time: <%= Time.now.to_s -%>
<% if !@annotations.nil? and !@annotations.empty? -%>
<% @annotations.each do |key,value| -%>
    <%= key %>: <%= value %>
<% end -%>
<% end -%>
<% if !@labels.nil? and !@labels.empty? -%>
  labels:
<% @labels.each do |key,value| -%>
    <%= key %>: <%= value %>
<% end -%>
<% end -%>
spec:
  accessModes:
  - "<%= @accessmode %>"
  capacity:
    storage: "<%= @capacity %>"
  nfs:
    path: "<%= @nfspath %>/<%= @volume %>"
    server: "<%= @nfsserver %>"
  persistentVolumeReclaimPolicy: "<%= @reclaimpolicy %>"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "pvc-<%= @name %>"
  namespace: "<%= @namespace %>"
  annotations:
    Created.by.puppet.host: "<%= @hostname %>"
<%#  TODO: Find the way to not overwrite file for changed timestamp -%>
<%#  Created.by.puppet.time: <%= Time.now.to_s -%>
<% if !@annotations.nil? and !@annotations.empty? -%>
<% @annotations.each do |key,value| -%>
    <%= key %>: <%= value %>
<% end -%>
<% end -%>
<% if !@labels.nil? and !@labels.empty? -%>
  labels:
<% @labels.each do |key,value| -%>
    <%= key %>: <%= value %>
<% end -%>
<% end -%>
spec:
  accessModes:
  - "<%= @accessmode %>"
  resources:
    requests:
      storage: "<%= @capacity %>"
  volumeName: "pv-<%= @name %>"
