#!/bin/bash

systemctl stop etcd

echo 'ETCD_INITIAL_ADVERTISE_PEER_URLS="https://<%= @fqdn %>:2380"
ETCD_INITIAL_CLUSTER="<%= @hostname %>=https://<%= @fqdn %>:2380"
ETCD_INITIAL_CLUSTER_STATE="new"' >> /etc/etcd/etcd.conf

systemctl start etcd
