[Unit]
Description=Etcd backup

[Service]
Type=oneshot
ExecStartPre=/bin/bash -c "/usr/bin/systemctl set-environment DATE_DU_JOUR=$$(date +%%w)"
ExecStartPre=/bin/bash -c "rm -rf <%= @etcd_backup_path %>/$$(date +%%w)"
ExecStart=/bin/bash -c "ETCDCTL_API=3 etcdctl --endpoints=<%= @etcd_bootstrap_node %> --cacert=/etc/puppetlabs/puppet/ssl/certs/ca.pem --cert=/etc/puppetlabs/puppet/ssl/certs/<%= @fqdn %>.pem --key=/etc/puppetlabs/puppet/ssl/private_keys/<%= @fqdn %>.pem snapshot save <%= @etcd_backup_path %>/${DATE_DU_JOUR}"
ExecStartPost=/bin/touch /tmp/etcd3backup
