ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_PEER_URLS="https://<%= @ipaddress %>:2380"
ETCD_LISTEN_CLIENT_URLS="https://0.0.0.0:2379"
ETCD_NAME="<%= @hostname %>"
ETCD_ADVERTISE_CLIENT_URLS="https://<%= @fqdn %>:2379"

#[Security]
ETCD_CERT_FILE="/etc/puppetlabs/puppet/ssl/certs/<%= @fqdn %>.pem"
ETCD_KEY_FILE="/etc/puppetlabs/puppet/ssl/private_keys/<%= @fqdn %>.pem"
ETCD_CLIENT_CERT_AUTH="true"
ETCD_TRUSTED_CA_FILE="/etc/puppetlabs/puppet/ssl/certs/ca.pem"
ETCD_PEER_CERT_FILE="/etc/puppetlabs/puppet/ssl/certs/<%= @fqdn %>.pem"
ETCD_PEER_KEY_FILE="/etc/puppetlabs/puppet/ssl/private_keys/<%= @fqdn %>.pem"
ETCD_PEER_CLIENT_CERT_AUTH="true"
ETCD_PEER_TRUSTED_CA_FILE="/etc/puppetlabs/puppet/ssl/certs/ca.pem"
ETCD_ENABLE_V2="false"
