#!/bin/bash

source /etc/profile.d/etcdctl.sh

if $(etcdctl member list | grep -q $(hostname))
then
   etcdctl member remove $(etcdctl member list | grep $(hostname) | cut -d "," -f1)
fi

etcdctl member add <%= @hostname %> --peer-urls=https://<%= @fqdn %>:2380 | grep ETCD >> /etc/etcd/etcd.conf && systemctl start etcd
